.container.typeset
  .flex.justify-center
    figure.max-w-10c.p-1b
      img(
        src='media/metamodern-logo.svg'
        alt='Metamodern Design Limited'
      )
  
  div(class=`
    pb-1b
    text-base c11_text-lg
    leading-base-narrow c11_leading-lg-narrow
  `)
    != content.aboutHeading
    
  .pb-1b
    != content.aboutMain
