.container
  div(class=`
    w-full
    flex
    flex-col
    items-center
    px-1b
  `)
    figure(class=`
      max-w-10c
      pb-6b
    `)
      img(
        src='media/metamodern-logo.svg'
        alt='Metamodern Design Limited'
      )

    div(class=`
      max-w-10c
      pb-2b
      text-lg c11_text-xl
      leading-lg-narrow c11_leading-xl-narrow
      typeset
    `)
      != content.about1
      
    div(class=`
      flex
      items-center
      flex-wrap
      pb-2b
    `)
      figure(class=`
        w-4c
        pl-2b
      `)
        img(
          src='media/undraw-product-tour.svg'
          alt='Decorative illustration'
        )
      
      div(class=`
        max-w-6c
        text-base c11_text-lg
        leading-base-narrow c11_leading-lg-narrow
        typeset
      `)
        != content.about2
      
    div(class=`
      max-w-10c
      text-sm c11_text-base
      leading-sm-narrow c11_leading-base-narrow
      typeset
    `)
      != content.about3
