.container
  div(class=`
    w-full
    flex
    flex-col
    items-center
    px-1b
  `)
    figure(class=`
      max-w-10c
      pt-2b
      pb-4b
    `)
      img(
        src='media/metamodern-logo.svg'
        alt='Metamodern Design Limited'
      )

    div(class=`
      max-w-10c
      pb-1b
      text-base c11_text-lg
      leading-base-narrow c11_leading-lg-narrow
      typeset
    `)
      != content.aboutHeading
      
    div(class=`
      max-w-10c
      pb-1b
      text-sm c11_text-base
      leading-sm-narrow c11_leading-base-narrow
      typeset
    `)
      != content.aboutMain
