/* STYLING FOR AN INTERACTIVE POP-UP */

.popup
  @apply absolute
  @apply left-0
  @apply p-half-b
  @apply bg-light-yellow-green
  @apply rounded
  @apply font-barlow-semi
  @apply font-semibold
  @apply text-sm
  @apply leading-sm-narrow
  top: 100%
